<ion-app>
  <ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar class="header">
          
          <ion-item class="profile" routerLink="/profile" *ngFor="let datos of usuario" >
            <ion-icon name="person-circle-outline" class="profile"></ion-icon><ion-label>{{datos.telefono}}</ion-label>
          </ion-item>
  
          <ion-item class="messages" routerLink="/messages">
            <ion-label>Mensajes</ion-label><ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-item>
  
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/travels">Tus viajes</ion-item>
        <ion-item routerLink="/payment">Métodos de Pagos</ion-item>
        <ion-item routerLink="/help">Ayuda</ion-item>
        <ion-item>Configuraciones</ion-item>
        <ion-item routerLink="/soporte">Soporte</ion-item>
        <ion-item routerLink="/login">Cerrar sesión</ion-item>
      </ion-list>
  
      <ion-item class="footer">
        <ion-icon name="logo-facebook" class="facebook"></ion-icon><ion-icon name="logo-instagram" class="instagram"></ion-icon><ion-icon name="logo-twitter" class="twitter"></ion-icon>
      </ion-item>
  
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
