ion-toolbar.header{
    --background:#A93226;
}

ion-icon.profile{
    height: 80px;
    width: 80px;
}

ion-item.messages{
    --background:#A93226;
    border-top-color:blanchedalmond;
    margin-left: 10px;
}

ion-item.profile{
    --background:#A93226;
    border-top-color:blanchedalmond;
}

ion-item.footer{
    margin-top: 70%;
    --background:#A93226;
    border-top-color:blanchedalmond;
}

ion-icon.facebook{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

ion-icon.instagram{
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

ion-icon.twitter{
    height: 40px;
    width: 40px;
    margin-left: 5px;
}
