ion-title{
    background: #A93226 ;
    color: white;
    text-align: center;
}

ion-header{
    background: #A93226 ;
    height: 10%;
}

ion-icon.back{
    height: 30px;
    width: 30px;
    color: white;
}

ion-icon.profile{
    height: 120px;
    width: 120px;
}

ion-list{
    margin-top: 80px;
}
.soporte{
    margin-top: 10%;
    margin-left: 10px;
}
.logo{
    width: 30%;
    margin-left: 35%;
    margin-right: 5%;
    margin-top: 80%;
}
h4{
    margin-top: 25px;
    font-size: 15px;
    align-content: center;
}
h3{
    margin-top: 25px;
    margin-left: 28%;
    font-size: 15px;
    align-content: center;
}