
<ion-content>
  <img src="../../assets/taxi.png" class="logo">
  <div>
    <ion-label class="bienvenido">Bienvenido</ion-label>
  </div>
  <div class="formulario"> 
    <ion-label class="datos">Telefono: </ion-label>
    <ion-input class="rounded"[(ngModel)]="telefono" placeholder="Ingresa los 10 digitos de tu móvil" required></ion-input>
    <ion-label class="datos">Nombre: </ion-label>
    <ion-input class="rounded" [(ngModel)]="nombre" name="nombre"></ion-input>
    <ion-label class="datos">Apellido: </ion-label>
    <ion-input class="rounded" [(ngModel)]="apellido" name="apellido"></ion-input>
    <ion-label class="datos">Correo Electronico: </ion-label>
    <ion-input class="rounded" [(ngModel)]="correo" name="correo"></ion-input>
  </div> 
  <ion-fab vertical="top" horizontal="end" >
    <ion-fab-button class="adelante" (click)="create()">
      <ion-icon name="arrow-forward-outline" class="arrow"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
