ion-title{
    background: #A93226 ;
    color: white;
    text-align: center;
}
ion-header{
    background: #A93226 ;
    height: 10%;
}
ion-icon.back{
    height: 30px;
    width: 30px;
    color: white;
}
.titulo{
    margin-left: 35px;
    margin-top: 30px;
    font: 18px bolder;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.metodos{
    margin-left: 35px;
    margin-top: 30px;
    font: 20px bold;
    color: black;
    
}
ion-card.metodosefectivo{
    background: #a9312600;
    margin-top: 0%;
    margin-right: 20%;
    height: 50px;
}
.imge{
    width: 30px;
    margin-top: 10px;
    margin-left: 14px;
}
ion-label.efectivolabel{
    margin-left:10px;
    color: gray;
    font: 15px bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}
ion-card.metodoscard{
    background: #a9312600;
    margin-top: 0%;
    margin-right: 20%;
    height: 50px;
}
.imgi{
    width: 35px;
    margin-top: 10px;
    margin-left: 14px;
}
ion-label.tarjetalabel{
    margin-left:10px;
    color: gray;
    font: 15px bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.imgp{
    width: 40px;
    margin-top: 10px;
    margin-left: 14px;
}
ion-label.paypallabel{
    margin-left:10px;
    color: gray;
    font: 15px bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.imgic{
    width: 20px;
    margin-top: 10px;
    margin-left: 8px;
}
ion-label.maslabel{
    margin-left:10px;
    color: gray;
    font: 15px bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pagos{
    margin-top: 25px;
}
.mostrar{
    margin-left: 80%;
}
.mostrartexto{
    font-family: Abel;
    margin-left: 15px;
    margin-top: 75px;
}
.imgi1{
    width: 30px;
    margin-top: 10px;
    margin-left: 14px;
}