ion-title{
    background: #A93226 ;
    color: white;
    text-align: center;
}
ion-header{
    background: #A93226 ;
    height: 10%;
}
ion-icon.back{
    height: 30px;
    width: 30px;
    color: white;
}
